
<div class="container mt-4">
<h1>All restaurants</h1>
<ul class="list-group">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item py-3 mb-1"><%= link_to restaurant.name, restaurant_path(restaurant.id) %></li>
  <% end %>
</ul>

<%= link_to new_restaurant_path do %>
    <i class="fas fa-plus-square create"></i><span>  Create a new restaurant</span>
    <% end  %>
</div>
